body {
  /* background now matches gitHub Darkmode color */
  background-color: #0d1117;
  display: flex;
}

/* Initial styling to get us in the right direction. */

.card {
  background: transparent;
  color: whitesmoke;
  border-color: whitesmoke;
  padding: 10px;
}

.list-group-item {
  background: transparent;
  color: whitesmoke;
}

#everything-container {
  display: flex;
}

.card-img-top {
  border-radius: 200px;
}

#dynamic-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
